/* classes */
.shopping-list-container {
  text-align: center;
  margin-top: 2rem;
}

.page-title {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2rem;
  position: relative;
  z-index: 2;
  color: white;
  margin: 0;
  padding-left: 2rem;
  text-transform: uppercase;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  background: #f5af19;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.create-new-list-btn {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  font-weight: bold;
  color: #f5af19;
  background: #ffffff;
  padding: 1rem;
  border: 1px #feb47b solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 12px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: none;
}

.create-new-list-btn:hover {
  color: #ffffff;
  background: #f5af19;
}

.create-new-list-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.shopping-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.list-item {
  padding: 2rem;
  background: #fc4a1a;
  border-radius: 3%;
  border: 1px #EAECC6 solid;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-name {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: aliceblue;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form-container label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.form-container button {
  width: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  font-weight: bold;
  color: #f5af19;
  background: #ffffff;
  padding: 1rem;
  border: 1px #feb47b solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 12px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: none;
}

.form-container button:hover {
  color: #ffffff;
  background: #f5af19;
}

.form-container input:focus {
  outline: none;
  border-color: #f5af19;
}

form {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.02);
  border: 5px solid white;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}

fieldset {
  border: 0;
  padding: 0;
}

/* media queries */
@media (max-width: 1000px) {
  .page-title {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 750px) and (min-width: 500px) {
  .shopping-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .list-item {
    margin: 0 5px;
  }
}

@media (max-width: 499px) {
  .shopping-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .list-item {
    margin: 0 5px;
  }

  .create-new-list-container {
    justify-content: center;
  }
}